/* Variables */
:root {
    --background-light: #ffffff;
    --text-light: #000000;
    --accent1-light: #d9d9d9;
    --shadow-light: #000000;
    --table-bg-light: #d9d9d9;
    --card-header-light: #d9d9d9;
    --card-body-light: #ffffff;
    --graph-bg-light: #d9d9d9;
    --theme-btn-light: #000;

    --background-dark: #212529;
    --text-dark: #dee2e6;
    --accent1-dark: #343a40;
    --shadow-dark: #adb5bd;
    --table-bg-dark: #343a40;
    --card-header-dark: #343a40;
    --card-body-dark: #495057;
    --graph-bg-dark: #343a40;
    --theme-btn-dark: #ffffff;
}

::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background: #bdbdbd;
}
::-webkit-scrollbar-thumb {
    background: #6c6c6c;
}
::-webkit-scrollbar-thumb:hover {
    background: #474747;
}
.recent-records-height {
    height: 30vh;
}
.old-records-height {
    height: 40vh;
}

/* Color classes */
#theme-btn {
    background-color: var(--theme-btn);
    color: var(--accent1);
    border-radius: 0.2rem;
    width: 1.7rem;
    height: 1.7rem;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.main-background {
    background-color: var(--background);
}
.colored-text {
    color: var(--text);
}
.accent-background {
    background-color: var(--accent1);
}
.add-shadow {
    box-shadow: 5px 10px --shadow;
}
.table-background {
    background-color: var(--table-bg);
}
.card-header-bg {
    background-color: var(--card-header);
}
.card-body-bg {
    background-color: var(--card-body);
}
.graph-background {
    background-color: var(--graph-bg);
}
.main-background, .colored-text, .accent-background, .add-shadow, .table-background, .card-header-bg, .card-body-bg, .graph-background, #theme-btn {
    transition: background-color 0.5s ease, color 0.7s ease, box-shadow 0.7s ease;
}

/* For swapping theme */
@media(prefers-color-scheme: dark) {
    :root {
        --background: var(--background-dark);
        --text: var(--text-dark);
        --accent1: var(--accent1-dark);
        --shadow: var(--shadow-dark);
        --table-bg: var(--table-bg-dark);
        --card-header: var(--card-header-dark);
        --card-body: var(--card-body-dark);
        --graph-bg: var(--graph-bg-dark);
        --theme-btn: var(--theme-btn-dark);
    }
}

@media(prefers-color-scheme: light) {
    :root {
        --background: var(--background-light);
        --text: var(--text-light);
        --accent1: var(--accent1-light);
        --shadow: var(--shadow-light);
        --table-bg: var(--table-bg-light);
        --card-header: var(--card-header-light);
        --card-body: var(--card-body-light);
        --graph-bg: var(--graph-bg-light);
        --theme-btn: var(--theme-btn-light);
    }
}

[color-scheme="dark"] {
    --background: var(--background-dark);
    --text: var(--text-dark);
    --accent1: var(--accent1-dark);
    --shadow: var(--shadow-dark);
    --table-bg: var(--table-bg-dark);
    --card-header: var(--card-header-dark);
    --card-body: var(--card-body-dark);
    --graph-bg: var(--graph-bg-dark);
    --theme-btn: var(--theme-btn-dark);
}

[color-scheme="light"] {
    --background: var(--background-light);
    --text: var(--text-light);
    --accent1: var(--accent1-light);
    --shadow: var(--shadow-light);
    --table-bg: var(--table-bg-light);
    --card-header: var(--card-header-light);
    --card-body: var(--card-body-light);
    --graph-bg: var(--graph-bg-light);
    --theme-btn: var(--theme-btn-light);
}